
[submodule "peoples-information-database"]
	path = peoples-information-database
	url = https://github.com/aratheunseen/PIDb.git
[submodule "interior-material-calculator"]
	path = interior-material-calculator
	url = https://github.com/aratheunseen/interior-material-calculator.git
